{% extends "base.html" %}
{% block title %}APP - Rust Vue App{% endblock %}
{% block page_title %}Rust Vue App{% endblock %}
{% block content %}
    <h2>Rust Vue App Content</h2>
    <p>Test ipsul lorem semper fidelis. Test ipsul lorem semper fidelis. Test ipsul lorem semper fidelis.</p>
    <p>Test ipsul lorem semper fidelis. Test ipsul lorem semper fidelis. Test ipsul lorem semper fidelis.</p>
    <hr/>
    <p>Test ipsul lorem semper fidelis. Test ipsul lorem semper fidelis. Test ipsul lorem semper fidelis.</p>
{% endblock %}