{% extends "base.html" %}
{% block title %}APP - Rust Vue App{% endblock %}
{% block page_title %}Rust Vue App{% endblock %}
{% block content %}
    <h2>Rust Vue App Content</h2>
    <div id="index_root"></div>
{% endblock %}

{# JS includes and content #}
{% block js_includes %}
<script type="text/javascript" src="/static/js/lib/jquery.js"></script>
<script type="text/javascript" src="/static/js/lib/vue.js"></script>
<script type="text/javascript" src="/static/js/lib/plyr.min.js"></script>
<script type="text/javascript" src="/static/js/lib/vue-plyr.js"></script>
<script type="text/javascript" src="/static/js/comp/users-list.js"></script>
<script type="text/javascript" src="/static/js/comp/user-form.js"></script>
<script type="text/javascript" src="/static/js/comp/music-player.js"></script>
<script type="text/javascript" src="/static/js/app/index.js"></script>
{% endblock %}
{% block js_footer %}
<script type="text/javascript">
    console.log('init page footer...');
    let pageData = {
        requests: {{ requests }},
        user_count: {{ user_count }}
        //users: {{ users_json|safe }}
    };
    console.log('pageData:', pageData);
    index($('#index_root').get(0), pageData);
</script>
{% endblock %}