{% extends "base.html" %}
{# Content Title and Page Title #}
{% block title %}INDEX - Rust Vue App{% endblock %}
{% block page_title %}Index Page{% endblock %}
{# main content of page #}
{% block content %}
    <div id="index_root"></div>
{% endblock %}

{# JS includes and content #}
{% block js_includes %}
<script type="text/javascript" src="/static/js/lib/jquery.js"></script>
<script type="text/javascript" src="/static/js/lib/vue.js"></script>
<script type="text/javascript" src="/static/js/comp/users-list.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
{% block js_footer %}
<script type="text/javascript">
    console.log('init page footer...');
    let pageData = {
        requests: {{ requests }},
        user_count: {{ user_count }}
        //users: {{ users_json|safe }}
    };
    console.log('pageData:', pageData);
    index($('#index_root').get(0), pageData);
</script>
{% endblock %}