{% extends "base.html" %}
{% block title %}INDEX - Rust Vue App{% endblock %}
{% block page_title %}Index Page{% endblock %}

{% block content %}
    <div id="index_root"></div>
{% endblock %}

{% block js_includes %}
<script type="text/javascript" src="/static/lib/jquery.js"></script>
<script type="text/javascript" src="/static/lib/vue.js"></script>
<script type="text/javascript" src="/static/index.js"></script>
{% endblock %}
{% block js_footer %}
<script type="text/javascript">
    console.log('init page footer...');
    let pageData = {
        requests: {{ requests }},
        user_count: {{ user_count }},
        users: {{ users_json|safe }}
    };
    console.log('pageData:', pageData);
    index($('#index_root').get(0), pageData);
</script>
{% endblock %}